.contenedor1{
    width: 100vw;
    max-width: 100vh;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#a{
    width: 100px;
    height: 100px;
    background-color: blue;
    
}

.contenedor2{
    width: 100vw;
    max-width: 100vh;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#b{ 
    width: 100px;
    height: 100px;
    background-color: yellow;
    
}

#c{
    width: 100px;
    height: 100px;
    background-color: green;
    
}